@font-face{
    font-family: 'minecraft_font';
    src: local('Minecraft Regular'), url(./fonts/minecraft_font.ttf) format('truetype');
}

html {
    background-image: url(./images/oak_plank.png);
    background-repeat: repeat;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: "minecraft_font";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.Title {
    color: white;
}