.Searchbar {
    padding: 16px 16px;
    color: white;
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

.Searchbar-input {
    border: 2px solid white;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: "minecraft_font";
    padding: 12px;
}

.Searchbar-input:focus {
    outline: none !important;
}